<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>placesAPIKey</key>
	<string>AIzaSyB8VT_z9oWgzfA-wOnA6FYHrrPzOivY_aU</string>
	<key>yelpKey</key>
	<string>wjNrYCpIOTUML9QfcxV6J_bg21_ls6lu7Erh5JLwSZGGKuNOktocozRamQQAstq43dE-lzXF9jCoUPeLyWren3_39Gd0H8yTpFztFWCrHvDZXP1Hsjwm_SlpS9kHZXYx</string>
	<key>tripAdvisorsKey</key>
	<string>5A5611045D33453AA036DC00DF62F357</string>
	<key>oldKeyWorked</key>
	<string>AIzaSyCaqdMVqLmooHNH4Fpc53t3eEh-2YNPVHA</string>
</dict>
</plist>
